
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    margin: 10px;
    padding-right: 30px;
}

#header > * {
    margin: 0px 10px;
}

#spacer {
    flex: 1 1 auto;
}

#logo {
    display: flex;
    align-items: center;
}

#logo > * {
    margin: 0px 5px;
}

#logo img {
    width: 1rem;
}

#thoth-name-logo {
    font-weight: 500;
    font-size: 1.2rem;
}

#content {
    margin: 10px;
    padding: 10px;
}

#content p {
    line-height: 1.5rem;
}

#info {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#search-form {
    display: flex;
    align-items: center;
}

#search-form > * {
    margin: 0px 2px;
}

.text-content {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.title {
    font-weight: 300;
    margin-bottom: 15px;
}

.header-link {
    color: rgba(0, 0, 0, .6);
    font-size: .95rem;
}

.text-input {
    padding: .5rem;
    height: 2.4rem;
    outline: none;
    font-size: 1rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
}

.align-center {
    display: flex;
    align-items: center;
}

.button {
    padding: .6rem;
    height: 2.4rem;
    font-size: 1rem;
    border-radius: 5px;
}

.green-button {
    border: 1px solid #3eb548;
    color: #3eb548;
}

.info-content {
    padding: 20px;
}