.override.nav-tabs {
    border-bottom: none;
    margin-bottom: 10px;
}

.override.nav-tabs .nav-item {
    background-color: #f8f9fa;
    border-radius: 10px;
}

.override.nav-tabs .nav-link:hover {
    border-radius: 10px;
}

.override.nav-tabs .nav-link:focus {
    border: 1px solid #dee2e6 !important;
    background-color: #f8f9fa;
    border-radius: 10px;
}

.override.nav-tabs .nav-link.active {
    border: 1px solid #212229 !important;
    background-color: #212229;
    border-radius: 10px;
    color: white !important;
}

.grid-items-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.grid-items-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-items-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
    .grid-items-2 {
        grid-template-columns: 1fr;
    }

    .grid-items-3 {
        grid-template-columns: 1fr;
    }
}

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    background: rgba(0,0,0,.025) !important;
    z-index: 9999;
}

.rounded-l-sm {
    border-top-left-radius: 0.5rem !important;
}

.rounded-r-sm {
    border-top-right-radius: 0.5rem !important;
}

.table-container {
    min-width: 280px;
    overflow-x: auto;
}

.table-custom-hover tr:hover {
    background: #F8F8F8;
}

.table-custom-hover tr[data-accordion="accordion-child"]:hover {
    background: transparent;
}

.table-accordion-button {
    background: #FB6340;
    border-radius: 100%;
    border: 0px solid #000;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.3s ease;
    user-select: none;
    vertical-align: middle;
}

.table-accordion-button:hover {
    background: #b3371c;
}

.table-accordion-content {
    background: rgb(248, 248, 248) !important;
}

.table-accordion-item {
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    padding: 3px 40px;
}